@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
}

a:-webkit-any-link {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #232931;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #4ECCA3, #00C2FF);
    padding: 2em 0;
    border-radius: 50px;
}

p {
    margin: 0;
}

body {
    color: #eee;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #3A3F46;
}

#app {
    height: 100vh;
}

.base-container {
    padding: 0 4em;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rnd-btn {
    border-radius: 15px !important;
}

.p-dialog {
    border: 1px solid #3A3F46 !important;
}

.p-dialog-header {
    background: #232931 !important;
}

.p-dialog-content {
    background: #232931 !important;
}

.base-background {
    padding: 1em;
    background-color: #232931;
    border-radius: 15px;
}

input {
    border: 1px solid #4a515a !important;
    border-radius: 15px !important;
    background: #232931 !important;
}

textarea {
    border: 1px solid #4a515a !important;
    border-radius: 5px !important;
    background: #3A3F46 !important;
    padding-left: 5px;
}

.prism-editor__editor {
}

.prism-editor__textarea:focus {
    box-shadow: 0 0 0 1px #a7d8a9;
    border-color: #81C784;
    outline: none;
}

.primary-btn {
    font-family: 'Poppins', sans-serif !important;
    border-radius: 15px !important;
    color: #eee !important;
    border: none !important;
    background: linear-gradient(to bottom right, #4ECCA3, #00C2FF) !important;
}

.p-chips-input-token input {
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

.p-inputtext {
    background: #3A3F46 !important;
    border-radius: 15px !important;
    border: 1px solid #4a515a !important;
}

.topics-input .p-inputtext {
    width: 100% !important;
}

.p-invalid {
    border: 1px solid #ff4747 !important;
}
